@import "../scss/_vars.scss";
footer{
  height: 150px;
  background: $black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  h1{
    margin-top: 54px;
    margin-left: 54px;
    grid-area: 1 / 1 / 2 / 2;
    color: #FFF;
    font-family: Roboto Flex;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    text-decoration-line: underline;
  }
  div{
    grid-area: 2 / 5 / 3 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    #conf{
      color: #FFF;
      font-family: Roboto Flex;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.36px;
      opacity: 0.5;
    }
    #copyright{
      color: #FFF;
      text-align: right;
      font-family: Roboto Flex;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.36px;
    }
  }
}