@import "../scss/_vars.scss";
#mark__card{
  display: flex;
  margin-bottom: 14px;
  align-items: center;
  &--mark{
    user-select: none;
    height: 64px;
  padding: 8px 18px;
    border-radius: 10px 0px 0px 10px;
    background: $dblue;
    color: #FFF;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
  }
  &--data{
    height: 64px;
    color: #5C5C5C;
    width: 230px;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 28px;
    user-select: none;
    font-style: normal;
    font-weight: 900;
    padding: 18px 17px;
    background: white;
    margin-right: 14px;
    border-radius: 0px 10px 10px 0px;
  }
}