@import "../scss/_vars.scss";
#tmark__card{
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  width: 700px;
  &--mark{
    user-select: none;
    height: 56px;
    padding: 8px 12px;
    border-radius: 12px 0px 0px 12px;
    background: $dblue;
    color: #FFF;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
  }
  &--data{
    height: 56px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Roboto Flex;
    font-size: 38px;
    user-select: none;
    font-style: normal;
    font-weight: 900;
    padding: 10px 17px;
    background: #9197E5;
    border-radius: 0px 12px 12px 0px;
    margin-right: 21px;
  }
}