@import "./_vars.scss";
#main_page{
  display: flex;
  &--h1{
    color: $black;
    font-family: Roboto Flex;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 40px;
    width: 735px;
  }
  &--h2{
    color: $black;
    font-family: Roboto Flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    width: 691px;
    letter-spacing: 0.48px;
  }
  &--buttonsection{
    width: 305px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    .buttonIM{
      padding: 22px 32px 24px 32px;
      background: $dblue;
      border-radius: 16px;
      color: #FFF;
      text-align: center;
      font-family: Roboto Flex;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }
    #studentbtn{
      background: $lblue;
    }
  }
  #ellipse{
    background: radial-gradient(50% 50% at 50% 50%, #4148FF 0%, rgba(65, 72, 255, 0.00) 100%);;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 24%;
    right: 200px;
    border-radius: 607px;
  }
  #mainImageContainer{
    position: absolute;
    bottom: 0px;
    right: 200px;
    #imageMain{
      width: 950px;
    }
  }
}